body {
    font-family: Calibri;
    background-color: #deeff5;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    background-color: #deeff5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: darkgoldenrod;
    padding: 100px 0 5px 0;
    font-size: 2em;
}

.underline {
    width: 10%;
    height: 4px;
    background-color: darkgoldenrod;
    margin: 0 auto 5px auto;
}

.all-bt {
    margin: 15px;
}

.bt {
    text-transform: uppercase;
    background-color: white;
    color: darkgoldenrod;
    border: solid 1px darkgoldenrod;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: darkgoldenrod 2px 2px 5px;
}

.bt:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
    color: white;
}

.all-item {
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.item {
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.img-box {
    border-radius: 5px;
    width: 400px;
    height: 124px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    border: solid 3px darkgoldenrod;
    margin: 0 10px 0 0;
}

.item-img {
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.item-text-box {
    width: 100%;
}

.text-title {
    display: flex;
    justify-content: space-between;
}

.item-price {
    color: darkgoldenrod;
}

.item-text {
    color: gray;
}

.hide-item {
    display: none;
}
